html
    head
    body
        ul
            li JavaScript
            li Nodejs
            li Expressjs
        article
            form
                input(type="text")
                input(type="submit")