doctype html(lang='KO')
html
    head
        title Study
        meta(charset="utf-8")
    body
        h1
            | 재확인을 위함
        div
        ul
            each board02 in boards
                li
                    a(href ='/develope/' + board02.no)= board02.title
            article
                h2= title
                = title