doctype html
html
    head
        title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1
        table(border='2')
            tr
                th 번호
                td
                th 글쓴이
                td
            tr
                th 제목
                td(colspan='5')

            tr
                td(colspan='6', height='400')
            tr
                td(colspan='6')
                    a(href='/project')  목록
