doctype html(lang='KO')
html
    head
        title Welcome to Dominic's House
        style.
            h3 {text-align : left; color : black}
            span {clolor : blue; font-size : 20px;}
            a:link { color: black; text-decoration: none;}
            a:visited { color: black; text-decoration: none;}
            a:hover { color: black; text-decoration: underline;}
            ]
            body {
                margin: 0;
            }
            #fixed-menu {
                width: 100%;
                background-color: #ffffff;
            }
            #main-content {
                width: 100%;
            }
            #fixed-menu li {
                display: inline-block;
                margin-right: 30px;
            }
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118877687-1')

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-118877687-1');
#fixed-menu
    h3
                    div(style='text-align:center')  Welcome back Master!

            ul
                li
                    a(href='../master_main/master_dev') 개발 내용 수정하기


                li
                    a(href='../master_main/master_study') 학습 내용 수정하기

                li
                    a(href='./logout') 관리자 모드 로그아웃

