doctype html(lang='KO')
html
    head
        title Study
        meta(charset="utf-8")
    body
        h1
            a(href='/study') 내가 학습 한, 내가 학습 할..
    div
    ul
        each topic in topics